@import "tailwindcss";

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}

body {
  background-color: black;
  color: white;
}
